* {
	margin-top: 0;
	margin-bottom: 0;
	font-family: MesloLGS NF;
	font-size: 14px; 
	min-height: 0px;
}

window#waybar {
	background: transparent;
}

window > box {
	padding: 2px;
	margin-top: 4px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 26px;
	background: rgba(255, 255, 255, 0.4);
}

window#waybar.hidden {
	opacity: 0.2;
}
window#waybar.empty #window {
	background: transparent;
}
#window {
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 26px;
	transition: none;
	color: #173f4f;
	background: rgba(255, 255, 255, 0.7);
}

#workspaces {	
	border-radius: 15px;
	background: #173f4f;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 14px;
}

#workspaces button.focused {
	color: #73ba25;
}

#workspaces button:hover {
	color: #35b9ab;
	border: none;
}

#network {
	padding-right: 8px;
	color: #f8f8f2;
	background: #8b9fa7;
}

#pulseaudio {
	padding-right: 8px;
	color: #f8f8f2;
	background: #516f7b;
}

#temperature {
	padding-right: 8px;
	color: #f8f8f2;
	background: #b9dc92;
}

#cpu {
	padding-right: 8px;
	color: #f8f8f2;
	background: #96cb5c;
}

#memory {
	padding-right: 8px;
	color: #f8f8f2;
	background: #81c13b;
}

#clock {
	padding-right: 8px;
	color: #f8f8f2;
	background: #73ba25;
}

#idle_inhibitor {
	border-top-left-radius: 26px;
	border-bottom-left-radius: 26px;
	padding-right: 8px;
	padding-left: 16px;
	color: #f8f8f2;
}
#idle_inhibitor.activated {
	background: #2f5361;
}
#idle_inhibitor.deactivated {
	background: #2f5361;
}

#custom-nwgbar {
	border-top-right-radius: 26px;
	border-bottom-right-radius: 26px;
	padding-left: 3px;
	padding-right: 15px;
	color: #f8f8f2;
	background: #173f4f;
	
}

#custom-arrow0 {
	background: #73ba25;
	color: #173f4f;
	font-size: 22px;
}
#custom-arrow1 {
	background: #81c13b;
	color: #73ba25;
	font-size: 22px;
}
#custom-arrow2 {
        background: #96cb5c;
        color: #81c13b;
	font-size:22px;
}
#custom-arrow3 {
        background: #b9dc92;
        color: #96cb5c;
	font-size: 22px;
}
#custom-arrow4 {
        background: #8b9fa7;
	color: #b9dc92;
	font-size: 22px;
}
#custom-arrow5 {
	background: #516f7b;
        color: #8b9fa7;
	font-size: 22px;
}
#custom-arrow6 {
        background: #2f5361;
	color: #516f7b;
	font-size: 22px;
}
